.pmain {
    height: 120vh;
}


.card{
    border: 1px solid black;
    /* width: 1500px; */
    height: 203px;
    margin: 30px;
    /* padding: 20px; */
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    flex-direction: row;
}

.imgbrd{
    /* border-radius: 10px; */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px
}

.propimg{
    height: 100%;
    /* border: 2px solid red; */
    width: 30%;

}

.cardtext{
    padding: 20px;
    

}